body {
  height: 1000px;
}

.container {
  border: 2px solid black;
  width: 500px;
  height: 500px;
  position: relative;
  margin: auto;
}

.div1 {
  border: 2px solid black;
  position: absolute;
  background-color: red;
  top: 0;
  bottom: 0;
  width: 150px;
}

.div2 {
  border: 2px solid black;
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: blue;
  left: 170px;
  top: 150px;
}

.div3 {
  border: 2px solid black;
  position: absolute;
  background-color: red;
  top: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  justify-content: center;
}

.div3:hover {
  opacity: 0.3;
}
